.onebuild-table th.text-bold {
    font-weight: bold;
}

.onebuild-table .onebuild-table-row-alt {
    background-color: #f5f5f5;
}

.onebuild-table .v-data-table-header th {
    border-bottom: 2px solid #e0e0e0;
}